<div class="row ">
  <div class="col-lg-12">
    <h1>Subareas</h1>    
  </div>
</div>

<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>
        <%= link_to new_admins_ativo_subarea_path do %>
          <i class="fa fa-plus btn-sm btn-success" style="color:write"></i>
        <% end %> 
      </th>
    </tr>
  </thead>
  <tbody>
    <% @subareas.each do |subarea| %>
      <tr>
        <td><%= subarea.description %></td>
        <td><%= subarea.area.description %></td>
        <td style="width: 10px">
          <%= link_to edit_admins_ativo_subarea_path(subarea) do %>
            <i class="fa fa-edit"></i>
          <% end %>
        <td style="width: 10px">
          <%= link_to admins_ativo_subarea_path(subarea), method: :delete, data: {confirm: "Certeza?"} do %>
            <i class="fa fa-trash" style="color:red"></i>
          <% end %>  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @subareas %>
