
<% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>


<%= form_with(model: [ :admins_ativo, @user ], local: true ) do |form| %>

  <div class="form-group">
    <%= form.label :user %> <br>
    <%= form.text_field :name, class:"form-control bg-light border-6 small" %>
  </div>

  <%= form.submit "Salvar", class:"btn btn-sm btn-primary" %>

<% end %>