<div class="control-group nested-fields">
  <div class="row g-3"><br>
    <div class="control col-md-2">
      <%= f.text_field :tombo, class:"form-control"%>
    </div>

    <div class="control col-md-5">
      <%= f.text_field :description, class:"form-control"%>
    </div>

    <div class="control col-md-2">
      <%= f.text_field :condition, class:"form-control"%>
    </div>

    <div class="control col-md-2">
      <%= f.text_field :situation, class:"form-control"%>
    </div>

    <div class="control">
      <%= link_to_remove_association(f, data: {confirm: "Certeza?"}, class: "btn-sm btn-danger") do %>
      <i class="fa fa-times" style="color:white"></i>
    <% end %>
    </div><br>
  </div>
</div>
<br>