<div class="nested-fields">
  <div class="control">
    <%= f.label :tombo %> <br>
    <%= f.select("id", @ativos.collect { |a| [a.tombo, a.id] }, { include_blank: 'Selecione...' }) %>

    <%= f.label :description %> <br>
    <%= f.text_field :description %>

    <%= f.label :condition %> <br>
    <%= f.text_field :condition %>

    <%= f.label :situation %> <br>
    <%= f.text_field :situation %>

    <%= link_to_remove_association('Remover', f)%>
  </div>
</div>