<div class="control-group nested-fields">
  <div class="controls">
    <%= f.label :tombo %>
    <%= f.select("id", @ativos.collect { |a| [a.tombo, a.id] }, { include_blank: 'Selecione...' })%>

    <%= f.label :description %>
    <%= f.select("id", @ativos.collect { |a| [a.description, a.id] }, { include_blank: 'Selecione...' })%>

    <%= f.label :condition %>
    <%= f.select("id", @conditions.collect { |c| [c.description, c.id] }, { include_blank: 'Selecione...'})%>

    <%= f.label :situation %>
    <%= f.select("id", @situations.collect { |s| [s.description, s.id] }, { include_blank: 'Selecione...'})%>

    <%= link_to_remove_association('Remover', f, class:"btn btn-sm btn-danger", data: {confirm: "Certeza?"})%>
  </div>
</div>