
<h5>Ativos Vinculados</h5>
<p id="notice"><%= notice %></p>

<form class="row g-3">
  <div class="col-12">
    <label for="inputAddress" class="form-label" >User</label>
      <div class="form-control bg-light border-6 smal">
        <%= @vinculo.user.name %>
      </div>
  </div>
  <br>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Area</label>
      <div class="form-control bg-light border-6 smal">
        <%= @vinculo.area.description %>
      </div>
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Subarea</label>
      <div class="form-control bg-light border-6 smal">
        <%= @vinculo.subarea.description %>
      </div>
  </div>
    <div class="col-md-6">
    <label for="inputEmail4" class="form-label">created_at</label>
      <div class="form-control bg-light border-6 smal">
        <%= @vinculo.created_at.strftime("%d/%H/%Y") %>
      </div>
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">updated_at</label>
      <div class="form-control bg-light border-6 smal">
        <%= @vinculo.updated_at.strftime("%d/%H/%Y") %>
      </div>
  </div>
</form>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>tombo</th>
      <th>description</th>
      <th>condition</th>
      <th>situation</th>
    </tr>
  </thead>
  
  <tbody>

      <tr>
        <td><%= @vinculo.addativos.to_sentence %></td>
        <td><%= @vinculo.addativo_ids.to_sentence %></td>
        <td></td>
        <td></td>
      </tr>

  </tbody>
</table>

<%= link_to 'Editar', edit_admins_ativo_vinculo_path(@vinculo), class:"btn btn-sm btn-primary" %>