
<% if @situation.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <ul>
            <% @situation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>


<%= form_with(model: [ :admins_ativo, @situation ], local: true ) do |form| %>

  <div class="form-group">
    <%= form.label :condition_id %> <br>
    <%= form.select("condition_id", @condition_options, { include_blank: 'Selecione...'}, class:"form-control") %>
  </div>

  <div class="form-group">
    <%= form.label :situation %> <br>
    <%= form.text_field :description, class:"form-control" %>
  </div>

  <button type="submit" class="btn btn-sm btn-primary">Salvar</button>

<% end %>